<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myListApp" class="no-js"> <!--<![endif]-->
  <head>
    <title>MyList</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!-- library imports -->
    <!-- build:css /css/site.css -->
    <link href="/lib/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link href="/lib/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"/>
    <!-- endbuild -->
    <!-- local imports -->

  </head>
  <body ng-controller="IndexController">
    <ul class="menu">
      <li><a href="/home">HOME</a></li>
      <li><a href="/about-us">ABOUT US</a></li>
    </ul>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-view></div>

    <div>My List app: v<span app-version>0.0.1</span></div>

    <!-- library imports -->
    <!-- build:js /js/site.js -->
    <script type="text/javascript" src="/lib/bower_components/jquery/dist/jquery.js"/>
    <script type="text/javascript" src="/lib/bower_components/bootstrap/dist/js/bootstrap.js"/>
    <script type="text/javascript" src="/lib/bower_components/angular/angular.js"/>
    <!-- endbuild -->
    <!-- local imports -->
    <script src="app.module.js"/>
    <script src="app.routes.js"/>
    <!-- local testing only: livereload server -->
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>
</html>
